In [2]:
import numpy as np
import pandas as pd

In [31]:
file_path= "C:\\Users\\admin\\Documents\\Data set.xlsx"
df=pd.read_excel(file_path)
df.head(20)

,Date,Coal_RB_4800_FOB_London_Close_USD,Coal_RB_5500_FOB_London_Close_USD,Coal_RB_5700_FOB_London_Close_USD,Coal_RB_6000_FOB_CurrentWeek_Avg_USD,Coal_India_5500_CFR_London_Close_USD,Price_WTI,Price_Brent_Oil,Price_Dubai_Brent_Oil,Price_ExxonMobil,Price_Shenhua,Price_All_Share,Price_Mining,Price_LNG_Japan_Korea_Marker_PLATTS,Price_ZAR_USD,Price_Natural_Gas,Price_ICE,Price_Dutch_TTF,Price_Indian_en_exg_rate
0,2020-04-02,41.00,53.22,64.70,97.56,60.50,25.32,29.94,26.16,40.40,14.58,45060.69,35562.37,2.860,0.05411,1.552,81.14,6.935,NaN
1,2020-04-03,40.34,52.36,63.10,70.57,62.03,28.34,34.11,29.39,39.21,14.14,44598.70,35258.30,2.845,0.05245,1.621,80.99,6.920,45.02
2,2020-04-06,40.34,52.36,63.10,70.57,62.03,26.08,33.05,27.45,40.47,14.26,46240.35,37032.31,2.850,0.05351,1.731,84.43,7.285,NaN
3,2020-04-07,40.34,52.36,63.10,70.57,62.03,23.63,31.87,26.00,41.24,14.46,47496.72,38362.12,2.805,0.05457,1.852,82.30,7.285,48.32
4,2020-04-08,40.34,52.36,63.10,70.57,62.03,25.09,32.84,26.16,43.85,14.24,46689.90,37469.17,2.810,0.05493,1.783,85.34,7.260,45.75
5,2020-04-09,33.82,43.58,54.81,59.57,54.74,22.76,31.48,23.26,43.13,14.16,48011.56,38905.32,2.805,0.05544,1.733,87.38,7.280,48.33
6,2020-04-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05561,NaN,NaN,NaN,NaN
7,2020-04-13,NaN,NaN,NaN,59.57,NaN,22.41,31.74,24.74,42.76,NaN,NaN,NaN,2.805,0.05516,1.724,85.18,7.280,47.75
8,2020-04-14,33.82,43.58,54.81,59.57,54.74,20.11,29.60,21.96,42.43,14.36,49874.51,41941.82,2.800,0.05454,1.650,87.00,6.875,NaN
9,2020-04-15,33.82,43.58,54.81,59.57,54.74,19.87,27.69,21.46,40.48,14.12,48301.28,40023.44,2.795,0.05343,1.598,86.25,6.650,49.25
10,2020-04-16,33.82,43.58,54.81,59.57,54.74,19.87,27.82,21.71,39.15,14.12,48245.11,39594.00,2.470,0.05293,1.686,88.10,6.905,50.93
11,2020-04-17,31.49,38.44,51.10,51.70,48.89,18.27,28.08,22.23,43.22,14.24,49134.65,40768.62,2.345,0.05318,1.753,90.40,6.995,51.75
12,2020-04-20,31.49,38.44,51.10,51.70,48.89,-37.63,25.57,21.47,41.18,14.08,48849.52,40688.45,2.270,0.05300,1.924,89.40,6.620,54.25
13,2020-04-21,31.49,38.44,51.10,51.70,48.89,10.01,19.33,19.07,40.96,13.84,47628.87,38702.92,2.105,0.05266,1.821,87.53,6.315,51.82
14,2020-04-22,31.49,38.44,51.10,51.70,48.89,13.78,20.37,20.00,42.13,13.66,48108.49,39991.74,2.075,0.05255,1.939,89.19,6.225,52.03
15,2020-04-23,31.49,38.44,51.10,51.70,48.89,16.50,21.33,20.45,43.45,13.70,49601.82,42588.88,2.050,0.05239,1.815,88.50,6.055,52.32
16,2020-04-24,26.75,34.56,44.69,44.53,41.81,16.94,21.44,20.45,43.73,13.64,49527.23,42857.87,2.025,0.05254,1.746,88.92,5.770,52.10
17,2020-04-27,26.75,34.56,44.69,44.53,41.81,12.78,19.99,20.37,43.94,13.80,NaN,NaN,1.995,0.05320,1.819,92.35,5.940,51.93
18,2020-04-28,26.75,34.56,44.69,44.53,41.81,12.34,20.46,20.41,44.97,13.94,50029.22,41940.99,2.000,0.05352,1.794,90.29,6.145,52.07
19,2020-04-29,26.75,34.56,44.69,44.53,41.81,15.06,22.54,20.38,47.46,13.86,50857.25,43399.68,2.000,0.05506,1.869,90.70,6.015,51.93

In [4]:
df.describe()

,Date,Coal_RB_4800_FOB_London_Close_USD,Coal_RB_5500_FOB_London_Close_USD,Coal_RB_5700_FOB_London_Close_USD,Coal_RB_6000_FOB_CurrentWeek_Avg_USD,Coal_India_5500_CFR_London_Close_USD,Price_WTI,Price_Brent_Oil,Price_Dubai_Brent_Oil,Price_ExxonMobil,Price_Shenhua,Price_All_Share,Price_Mining,Price_LNG_Japan_Korea_Marker_PLATTS,Price_ZAR_USD,Price_Natural_Gas,Price_ICE,Price_Dutch_TTF,Price_Indian_en_exg_rate
count,1107,1068.000000,1068.000000,1068.000000,1084.000000,1068.000000,1099.000000,1096.000000,1067.000000,1067.000000,1042.000000,1058.000000,1058.000000,1066.000000,1107.000000,1099.000000,1067.000000,1076.000000,1047.000000
mean,2022-05-16 14:22:26.341463296,87.953184,113.353155,134.971807,144.351494,123.759710,72.345469,76.283020,74.752493,80.871012,21.274702,68736.904811,52972.178374,17.622529,0.059943,3.697999,112.756111,57.384856,141.616027
min,2020-04-02 00:00:00,26.750000,34.560000,44.690000,44.530000,41.810000,-37.630000,19.330000,19.070000,31.570000,12.060000,44598.700000,35258.300000,1.995000,0.050470,1.482000,80.990000,3.510000,45.020000
25%,2021-04-24 12:00:00,50.370000,67.880000,83.400000,92.420000,81.990000,64.225000,67.457500,65.480000,56.035000,15.275000,65639.547500,47161.832500,8.851250,0.054290,2.458500,101.900000,22.406250,119.065000
50%,2022-05-17 00:00:00,76.190000,95.800000,108.910000,115.270000,111.200000,75.670000,79.960000,78.790000,86.410000,22.325000,70089.085000,53270.245000,12.902500,0.058720,2.863000,111.960000,35.838500,140.900000
75%,2023-06-07 12:00:00,104.180000,129.260000,155.600000,172.550000,150.040000,83.180000,87.450000,87.275000,106.480000,24.937500,74775.762500,57707.622500,25.993750,0.065640,4.710500,122.620000,83.962500,162.350000
max,2024-06-28 00:00:00,301.090000,360.240000,412.350000,428.220000,312.890000,123.700000,127.980000,122.530000,122.200000,40.300000,80791.360000,75185.760000,69.955000,0.074350,9.647000,139.430000,339.195000,295.250000
std,NaN,47.303473,63.105405,77.472391,83.500186,56.502138,20.605415,20.723186,20.505811,27.771904,6.136281,7928.639789,7037.617925,12.716663,0.006068,1.921176,13.729638,53.328953,54.147294

In [5]:
df.isnull().sum()/df.count()*100

Date                                    0.000000
Coal_RB_4800_FOB_London_Close_USD       3.651685
Coal_RB_5500_FOB_London_Close_USD       3.651685
Coal_RB_5700_FOB_London_Close_USD       3.651685
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    2.121771
Coal_India_5500_CFR_London_Close_USD    3.651685
Price_WTI                               0.727934
Price_Brent_Oil                         1.003650
Price_Dubai_Brent_Oil                   3.748828
Price_ExxonMobil                        3.748828
Price_Shenhua                           6.238004
Price_All_Share                         4.631380
Price_Mining                            4.631380
Price_LNG_Japan_Korea_Marker_PLATTS     3.846154
Price_ZAR_USD                           0.000000
Price_Natural_Gas                       0.727934
Price_ICE                               3.748828
Price_Dutch_TTF                         2.881041
Price_Indian_en_exg_rate                5.730659
dtype: float64

In [6]:
df.isnull().sum()

Date                                     0
Coal_RB_4800_FOB_London_Close_USD       39
Coal_RB_5500_FOB_London_Close_USD       39
Coal_RB_5700_FOB_London_Close_USD       39
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    23
Coal_India_5500_CFR_London_Close_USD    39
Price_WTI                                8
Price_Brent_Oil                         11
Price_Dubai_Brent_Oil                   40
Price_ExxonMobil                        40
Price_Shenhua                           65
Price_All_Share                         49
Price_Mining                            49
Price_LNG_Japan_Korea_Marker_PLATTS     41
Price_ZAR_USD                            0
Price_Natural_Gas                        8
Price_ICE                               40
Price_Dutch_TTF                         31
Price_Indian_en_exg_rate                60
dtype: int64

In [7]:
df.dropna(inplace = True)
df

,Date,Coal_RB_4800_FOB_London_Close_USD,Coal_RB_5500_FOB_London_Close_USD,Coal_RB_5700_FOB_London_Close_USD,Coal_RB_6000_FOB_CurrentWeek_Avg_USD,Coal_India_5500_CFR_London_Close_USD,Price_WTI,Price_Brent_Oil,Price_Dubai_Brent_Oil,Price_ExxonMobil,Price_Shenhua,Price_All_Share,Price_Mining,Price_LNG_Japan_Korea_Marker_PLATTS,Price_ZAR_USD,Price_Natural_Gas,Price_ICE,Price_Dutch_TTF,Price_Indian_en_exg_rate
1,2020-04-03,40.34,52.36,63.10,70.57,62.03,28.34,34.11,29.39,39.21,14.14,44598.70,35258.30,2.845,0.05245,1.621,80.99,6.920,45.02
3,2020-04-07,40.34,52.36,63.10,70.57,62.03,23.63,31.87,26.00,41.24,14.46,47496.72,38362.12,2.805,0.05457,1.852,82.30,7.285,48.32
4,2020-04-08,40.34,52.36,63.10,70.57,62.03,25.09,32.84,26.16,43.85,14.24,46689.90,37469.17,2.810,0.05493,1.783,85.34,7.260,45.75
5,2020-04-09,33.82,43.58,54.81,59.57,54.74,22.76,31.48,23.26,43.13,14.16,48011.56,38905.32,2.805,0.05544,1.733,87.38,7.280,48.33
9,2020-04-15,33.82,43.58,54.81,59.57,54.74,19.87,27.69,21.46,40.48,14.12,48301.28,40023.44,2.795,0.05343,1.598,86.25,6.650,49.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1102,2024-06-24,73.30,94.56,107.31,106.22,111.20,81.63,86.01,82.60,114.05,39.55,80263.14,51492.93,12.610,0.05517,2.811,138.72,34.080,182.69
1103,2024-06-25,73.30,94.56,107.31,106.22,111.20,80.83,85.01,82.42,114.37,39.50,79577.57,51015.62,12.735,0.05482,2.756,137.33,34.855,179.47
1104,2024-06-26,73.30,94.56,107.31,106.22,111.20,80.90,85.25,82.47,114.41,39.70,79252.39,50943.54,12.620,0.05497,2.628,137.39,33.825,178.68
1105,2024-06-27,73.30,94.56,107.31,106.22,111.20,81.74,86.39,82.49,114.90,35.15,78969.33,52018.94,12.660,0.05411,2.685,137.47,34.565,179.83
1106,2024-06-28,71.38,92.08,103.68,106.22,109.15,81.54,86.41,82.55,115.12,35.95,79707.11,51308.87,12.635,0.05495,2.601,136.89,34.480,180.54

In [8]:
df.isnull().sum()

Date                                    0
Coal_RB_4800_FOB_London_Close_USD       0
Coal_RB_5500_FOB_London_Close_USD       0
Coal_RB_5700_FOB_London_Close_USD       0
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    0
Coal_India_5500_CFR_London_Close_USD    0
Price_WTI                               0
Price_Brent_Oil                         0
Price_Dubai_Brent_Oil                   0
Price_ExxonMobil                        0
Price_Shenhua                           0
Price_All_Share                         0
Price_Mining                            0
Price_LNG_Japan_Korea_Marker_PLATTS     0
Price_ZAR_USD                           0
Price_Natural_Gas                       0
Price_ICE                               0
Price_Dutch_TTF                         0
Price_Indian_en_exg_rate                0
dtype: int64

In [9]:
df.drop("Date",inplace =True,axis=1)
df

,Coal_RB_4800_FOB_London_Close_USD,Coal_RB_5500_FOB_London_Close_USD,Coal_RB_5700_FOB_London_Close_USD,Coal_RB_6000_FOB_CurrentWeek_Avg_USD,Coal_India_5500_CFR_London_Close_USD,Price_WTI,Price_Brent_Oil,Price_Dubai_Brent_Oil,Price_ExxonMobil,Price_Shenhua,Price_All_Share,Price_Mining,Price_LNG_Japan_Korea_Marker_PLATTS,Price_ZAR_USD,Price_Natural_Gas,Price_ICE,Price_Dutch_TTF,Price_Indian_en_exg_rate
1,40.34,52.36,63.10,70.57,62.03,28.34,34.11,29.39,39.21,14.14,44598.70,35258.30,2.845,0.05245,1.621,80.99,6.920,45.02
3,40.34,52.36,63.10,70.57,62.03,23.63,31.87,26.00,41.24,14.46,47496.72,38362.12,2.805,0.05457,1.852,82.30,7.285,48.32
4,40.34,52.36,63.10,70.57,62.03,25.09,32.84,26.16,43.85,14.24,46689.90,37469.17,2.810,0.05493,1.783,85.34,7.260,45.75
5,33.82,43.58,54.81,59.57,54.74,22.76,31.48,23.26,43.13,14.16,48011.56,38905.32,2.805,0.05544,1.733,87.38,7.280,48.33
9,33.82,43.58,54.81,59.57,54.74,19.87,27.69,21.46,40.48,14.12,48301.28,40023.44,2.795,0.05343,1.598,86.25,6.650,49.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1102,73.30,94.56,107.31,106.22,111.20,81.63,86.01,82.60,114.05,39.55,80263.14,51492.93,12.610,0.05517,2.811,138.72,34.080,182.69
1103,73.30,94.56,107.31,106.22,111.20,80.83,85.01,82.42,114.37,39.50,79577.57,51015.62,12.735,0.05482,2.756,137.33,34.855,179.47
1104,73.30,94.56,107.31,106.22,111.20,80.90,85.25,82.47,114.41,39.70,79252.39,50943.54,12.620,0.05497,2.628,137.39,33.825,178.68
1105,73.30,94.56,107.31,106.22,111.20,81.74,86.39,82.49,114.90,35.15,78969.33,52018.94,12.660,0.05411,2.685,137.47,34.565,179.83
1106,71.38,92.08,103.68,106.22,109.15,81.54,86.41,82.55,115.12,35.95,79707.11,51308.87,12.635,0.05495,2.601,136.89,34.480,180.54

In [10]:
df.var()

Coal_RB_4800_FOB_London_Close_USD       2.294182e+03
Coal_RB_5500_FOB_London_Close_USD       4.074232e+03
Coal_RB_5700_FOB_London_Close_USD       6.130739e+03
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    7.073207e+03
Coal_India_5500_CFR_London_Close_USD    3.236738e+03
Price_WTI                               4.221615e+02
Price_Brent_Oil                         4.274815e+02
Price_Dubai_Brent_Oil                   4.170168e+02
Price_ExxonMobil                        7.694542e+02
Price_Shenhua                           3.735906e+01
Price_All_Share                         6.253875e+07
Price_Mining                            4.912183e+07
Price_LNG_Japan_Korea_Marker_PLATTS     1.618984e+02
Price_ZAR_USD                           3.645467e-05
Price_Natural_Gas                       3.674520e+00
Price_ICE                               1.862010e+02
Price_Dutch_TTF                         2.915575e+03
Price_Indian_en_exg_rate                2.905038e+03
dtype: float64

In [11]:
df.head(10)

,Coal_RB_4800_FOB_London_Close_USD,Coal_RB_5500_FOB_London_Close_USD,Coal_RB_5700_FOB_London_Close_USD,Coal_RB_6000_FOB_CurrentWeek_Avg_USD,Coal_India_5500_CFR_London_Close_USD,Price_WTI,Price_Brent_Oil,Price_Dubai_Brent_Oil,Price_ExxonMobil,Price_Shenhua,Price_All_Share,Price_Mining,Price_LNG_Japan_Korea_Marker_PLATTS,Price_ZAR_USD,Price_Natural_Gas,Price_ICE,Price_Dutch_TTF,Price_Indian_en_exg_rate
1,40.34,52.36,63.10,70.57,62.03,28.34,34.11,29.39,39.21,14.14,44598.70,35258.30,2.845,0.05245,1.621,80.99,6.920,45.02
3,40.34,52.36,63.10,70.57,62.03,23.63,31.87,26.00,41.24,14.46,47496.72,38362.12,2.805,0.05457,1.852,82.30,7.285,48.32
4,40.34,52.36,63.10,70.57,62.03,25.09,32.84,26.16,43.85,14.24,46689.90,37469.17,2.810,0.05493,1.783,85.34,7.260,45.75
5,33.82,43.58,54.81,59.57,54.74,22.76,31.48,23.26,43.13,14.16,48011.56,38905.32,2.805,0.05544,1.733,87.38,7.280,48.33
9,33.82,43.58,54.81,59.57,54.74,19.87,27.69,21.46,40.48,14.12,48301.28,40023.44,2.795,0.05343,1.598,86.25,6.650,49.25
10,33.82,43.58,54.81,59.57,54.74,19.87,27.82,21.71,39.15,14.12,48245.11,39594.00,2.470,0.05293,1.686,88.10,6.905,50.93
11,31.49,38.44,51.10,51.70,48.89,18.27,28.08,22.23,43.22,14.24,49134.65,40768.62,2.345,0.05318,1.753,90.40,6.995,51.75
12,31.49,38.44,51.10,51.70,48.89,-37.63,25.57,21.47,41.18,14.08,48849.52,40688.45,2.270,0.05300,1.924,89.40,6.620,54.25
13,31.49,38.44,51.10,51.70,48.89,10.01,19.33,19.07,40.96,13.84,47628.87,38702.92,2.105,0.05266,1.821,87.53,6.315,51.82
14,31.49,38.44,51.10,51.70,48.89,13.78,20.37,20.00,42.13,13.66,48108.49,39991.74,2.075,0.05255,1.939,89.19,6.225,52.03

In [12]:
df["Price_Indian_en_exg_rate"].mean()

np.float64(140.7919806243272)

In [13]:
df.duplicated().sum()

np.int64(0)

In [14]:
df.mean()          #Mean of data set

Coal_RB_4800_FOB_London_Close_USD          87.918945
Coal_RB_5500_FOB_London_Close_USD         113.359236
Coal_RB_5700_FOB_London_Close_USD         135.002551
Coal_RB_6000_FOB_CurrentWeek_Avg_USD      144.218665
Coal_India_5500_CFR_London_Close_USD      123.652853
Price_WTI                                  72.099602
Price_Brent_Oil                            76.058041
Price_Dubai_Brent_Oil                      74.630893
Price_ExxonMobil                           80.660850
Price_Shenhua                              21.210291
Price_All_Share                         68663.591572
Price_Mining                            52983.184790
Price_LNG_Japan_Korea_Marker_PLATTS        17.620604
Price_ZAR_USD                               0.059924
Price_Natural_Gas                           3.695940
Price_ICE                                 112.574973
Price_Dutch_TTF                            57.631833
Price_Indian_en_exg_rate                  140.791981
dtype: float64

**The number that appears most often in a set of data is mode**

In [15]:
df.mode()

,Coal_RB_4800_FOB_London_Close_USD,Coal_RB_5500_FOB_London_Close_USD,Coal_RB_5700_FOB_London_Close_USD,Coal_RB_6000_FOB_CurrentWeek_Avg_USD,Coal_India_5500_CFR_London_Close_USD,Price_WTI,Price_Brent_Oil,Price_Dubai_Brent_Oil,Price_ExxonMobil,Price_Shenhua,Price_All_Share,Price_Mining,Price_LNG_Japan_Korea_Marker_PLATTS,Price_ZAR_USD,Price_Natural_Gas,Price_ICE,Price_Dutch_TTF,Price_Indian_en_exg_rate
0,33.86,47.56,50.12,115.27,45.77,71.65,77.59,43.96,64.31,24.75,44598.70,35258.30,2.00,0.05273,2.492,90.40,13.9,133.00
1,NaN,NaN,51.58,NaN,48.75,76.99,82.96,NaN,105.88,NaN,46689.90,37469.17,2.07,0.05506,2.520,93.24,NaN,134.35
2,NaN,NaN,101.66,NaN,48.89,78.26,84.03,NaN,NaN,NaN,47496.72,38362.12,2.20,0.06308,2.731,93.77,NaN,136.45
3,NaN,NaN,108.91,NaN,49.70,78.50,NaN,NaN,NaN,NaN,47628.87,38702.92,NaN,0.06532,NaN,96.68,NaN,143.85
4,NaN,NaN,NaN,NaN,50.61,78.74,NaN,NaN,NaN,NaN,48011.56,38905.32,NaN,NaN,NaN,103.93,NaN,145.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80227.19,73244.34,NaN,NaN,NaN,NaN,NaN,NaN
925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80240.92,74495.79,NaN,NaN,NaN,NaN,NaN,NaN
926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80263.14,74666.11,NaN,NaN,NaN,NaN,NaN,NaN
927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80324.86,74773.64,NaN,NaN,NaN,NaN,NaN,NaN
928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80791.36,75128.44,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df["Coal_RB_4800_FOB_London_Close_USD"].mode()

0    33.86
Name: Coal_RB_4800_FOB_London_Close_USD, dtype: float64

In [17]:
df.median()

Coal_RB_4800_FOB_London_Close_USD          76.19000
Coal_RB_5500_FOB_London_Close_USD          95.80000
Coal_RB_5700_FOB_London_Close_USD         108.91000
Coal_RB_6000_FOB_CurrentWeek_Avg_USD      115.27000
Coal_India_5500_CFR_London_Close_USD      111.20000
Price_WTI                                  75.37000
Price_Brent_Oil                            79.67000
Price_Dubai_Brent_Oil                      78.49000
Price_ExxonMobil                           86.12000
Price_Shenhua                              22.30000
Price_All_Share                         69921.37000
Price_Mining                            53269.08000
Price_LNG_Japan_Korea_Marker_PLATTS        12.93500
Price_ZAR_USD                               0.05876
Price_Natural_Gas                           2.85900
Price_ICE                                 111.72000
Price_Dutch_TTF                            35.65500
Price_Indian_en_exg_rate                  140.62000
dtype: float64

**Range is the difference between max value and min value**

In [18]:
range_all = df.max() - df.min()           #Range of individual columns
print(range_all)

Coal_RB_4800_FOB_London_Close_USD         274.34000
Coal_RB_5500_FOB_London_Close_USD         325.68000
Coal_RB_5700_FOB_London_Close_USD         367.66000
Coal_RB_6000_FOB_CurrentWeek_Avg_USD      383.69000
Coal_India_5500_CFR_London_Close_USD      271.08000
Price_WTI                                 161.33000
Price_Brent_Oil                           108.65000
Price_Dubai_Brent_Oil                     103.46000
Price_ExxonMobil                           90.63000
Price_Shenhua                              28.24000
Price_All_Share                         36192.66000
Price_Mining                            39870.14000
Price_LNG_Japan_Korea_Marker_PLATTS        67.95500
Price_ZAR_USD                               0.02388
Price_Natural_Gas                           8.15200
Price_ICE                                  58.44000
Price_Dutch_TTF                           335.68500
Price_Indian_en_exg_rate                  250.23000
dtype: float64

**Standard deviation measures the spread of data from the mean**

In [19]:
df.std()            #Standard deviation of individual columns

Coal_RB_4800_FOB_London_Close_USD         47.897621
Coal_RB_5500_FOB_London_Close_USD         63.829714
Coal_RB_5700_FOB_London_Close_USD         78.299039
Coal_RB_6000_FOB_CurrentWeek_Avg_USD      84.102362
Coal_India_5500_CFR_London_Close_USD      56.892333
Price_WTI                                 20.546569
Price_Brent_Oil                           20.675626
Price_Dubai_Brent_Oil                     20.420990
Price_ExxonMobil                          27.739038
Price_Shenhua                              6.112206
Price_All_Share                         7908.144823
Price_Mining                            7008.696787
Price_LNG_Japan_Korea_Marker_PLATTS       12.723932
Price_ZAR_USD                              0.006038
Price_Natural_Gas                          1.916904
Price_ICE                                 13.645550
Price_Dutch_TTF                           53.996066
Price_Indian_en_exg_rate                  53.898404
dtype: float64

**Variance  measures how spread out the values in a dataset are.**

In [20]:
variance=df["Coal_RB_4800_FOB_London_Close_USD"].var()          #Variance of second column
print(variance)

2294.182105567026

In [21]:
import scipy
print(scipy.__version__)

1.15.2

**Skewness and Kurtosis are measures of how a data set is shaped.**

In [22]:
from scipy.stats import kurtosis, skew

In [23]:
skew(df["Coal_RB_4800_FOB_London_Close_USD"])

np.float64(1.350277201916089)

In [24]:
kurtosis(df["Coal_RB_4800_FOB_London_Close_USD"])

np.float64(2.2429796442861702)

In [25]:
skew(df["Coal_RB_5500_FOB_London_Close_USD"])

np.float64(1.2795194618629417)

In [26]:
df.std()

Coal_RB_4800_FOB_London_Close_USD         47.897621
Coal_RB_5500_FOB_London_Close_USD         63.829714
Coal_RB_5700_FOB_London_Close_USD         78.299039
Coal_RB_6000_FOB_CurrentWeek_Avg_USD      84.102362
Coal_India_5500_CFR_London_Close_USD      56.892333
Price_WTI                                 20.546569
Price_Brent_Oil                           20.675626
Price_Dubai_Brent_Oil                     20.420990
Price_ExxonMobil                          27.739038
Price_Shenhua                              6.112206
Price_All_Share                         7908.144823
Price_Mining                            7008.696787
Price_LNG_Japan_Korea_Marker_PLATTS       12.723932
Price_ZAR_USD                              0.006038
Price_Natural_Gas                          1.916904
Price_ICE                                 13.645550
Price_Dutch_TTF                           53.996066
Price_Indian_en_exg_rate                  53.898404
dtype: float64

In [27]:
df2=df.iloc[0:,1:]
df2.var()

Coal_RB_5500_FOB_London_Close_USD       4.074232e+03
Coal_RB_5700_FOB_London_Close_USD       6.130739e+03
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    7.073207e+03
Coal_India_5500_CFR_London_Close_USD    3.236738e+03
Price_WTI                               4.221615e+02
Price_Brent_Oil                         4.274815e+02
Price_Dubai_Brent_Oil                   4.170168e+02
Price_ExxonMobil                        7.694542e+02
Price_Shenhua                           3.735906e+01
Price_All_Share                         6.253875e+07
Price_Mining                            4.912183e+07
Price_LNG_Japan_Korea_Marker_PLATTS     1.618984e+02
Price_ZAR_USD                           3.645467e-05
Price_Natural_Gas                       3.674520e+00
Price_ICE                               1.862010e+02
Price_Dutch_TTF                         2.915575e+03
Price_Indian_en_exg_rate                2.905038e+03
dtype: float64

**Cleaning by substituting the mean value to the null value**

In [28]:
df

,Coal_RB_4800_FOB_London_Close_USD,Coal_RB_5500_FOB_London_Close_USD,Coal_RB_5700_FOB_London_Close_USD,Coal_RB_6000_FOB_CurrentWeek_Avg_USD,Coal_India_5500_CFR_London_Close_USD,Price_WTI,Price_Brent_Oil,Price_Dubai_Brent_Oil,Price_ExxonMobil,Price_Shenhua,Price_All_Share,Price_Mining,Price_LNG_Japan_Korea_Marker_PLATTS,Price_ZAR_USD,Price_Natural_Gas,Price_ICE,Price_Dutch_TTF,Price_Indian_en_exg_rate
1,40.34,52.36,63.10,70.57,62.03,28.34,34.11,29.39,39.21,14.14,44598.70,35258.30,2.845,0.05245,1.621,80.99,6.920,45.02
3,40.34,52.36,63.10,70.57,62.03,23.63,31.87,26.00,41.24,14.46,47496.72,38362.12,2.805,0.05457,1.852,82.30,7.285,48.32
4,40.34,52.36,63.10,70.57,62.03,25.09,32.84,26.16,43.85,14.24,46689.90,37469.17,2.810,0.05493,1.783,85.34,7.260,45.75
5,33.82,43.58,54.81,59.57,54.74,22.76,31.48,23.26,43.13,14.16,48011.56,38905.32,2.805,0.05544,1.733,87.38,7.280,48.33
9,33.82,43.58,54.81,59.57,54.74,19.87,27.69,21.46,40.48,14.12,48301.28,40023.44,2.795,0.05343,1.598,86.25,6.650,49.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1102,73.30,94.56,107.31,106.22,111.20,81.63,86.01,82.60,114.05,39.55,80263.14,51492.93,12.610,0.05517,2.811,138.72,34.080,182.69
1103,73.30,94.56,107.31,106.22,111.20,80.83,85.01,82.42,114.37,39.50,79577.57,51015.62,12.735,0.05482,2.756,137.33,34.855,179.47
1104,73.30,94.56,107.31,106.22,111.20,80.90,85.25,82.47,114.41,39.70,79252.39,50943.54,12.620,0.05497,2.628,137.39,33.825,178.68
1105,73.30,94.56,107.31,106.22,111.20,81.74,86.39,82.49,114.90,35.15,78969.33,52018.94,12.660,0.05411,2.685,137.47,34.565,179.83
1106,71.38,92.08,103.68,106.22,109.15,81.54,86.41,82.55,115.12,35.95,79707.11,51308.87,12.635,0.05495,2.601,136.89,34.480,180.54

In [30]:
df.fillna(df.mean(), inplace=True)  #for substituting the null values with mean of that column
df

,Coal_RB_4800_FOB_London_Close_USD,Coal_RB_5500_FOB_London_Close_USD,Coal_RB_5700_FOB_London_Close_USD,Coal_RB_6000_FOB_CurrentWeek_Avg_USD,Coal_India_5500_CFR_London_Close_USD,Price_WTI,Price_Brent_Oil,Price_Dubai_Brent_Oil,Price_ExxonMobil,Price_Shenhua,Price_All_Share,Price_Mining,Price_LNG_Japan_Korea_Marker_PLATTS,Price_ZAR_USD,Price_Natural_Gas,Price_ICE,Price_Dutch_TTF,Price_Indian_en_exg_rate
1,40.34,52.36,63.10,70.57,62.03,28.34,34.11,29.39,39.21,14.14,44598.70,35258.30,2.845,0.05245,1.621,80.99,6.920,45.02
3,40.34,52.36,63.10,70.57,62.03,23.63,31.87,26.00,41.24,14.46,47496.72,38362.12,2.805,0.05457,1.852,82.30,7.285,48.32
4,40.34,52.36,63.10,70.57,62.03,25.09,32.84,26.16,43.85,14.24,46689.90,37469.17,2.810,0.05493,1.783,85.34,7.260,45.75
5,33.82,43.58,54.81,59.57,54.74,22.76,31.48,23.26,43.13,14.16,48011.56,38905.32,2.805,0.05544,1.733,87.38,7.280,48.33
9,33.82,43.58,54.81,59.57,54.74,19.87,27.69,21.46,40.48,14.12,48301.28,40023.44,2.795,0.05343,1.598,86.25,6.650,49.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1102,73.30,94.56,107.31,106.22,111.20,81.63,86.01,82.60,114.05,39.55,80263.14,51492.93,12.610,0.05517,2.811,138.72,34.080,182.69
1103,73.30,94.56,107.31,106.22,111.20,80.83,85.01,82.42,114.37,39.50,79577.57,51015.62,12.735,0.05482,2.756,137.33,34.855,179.47
1104,73.30,94.56,107.31,106.22,111.20,80.90,85.25,82.47,114.41,39.70,79252.39,50943.54,12.620,0.05497,2.628,137.39,33.825,178.68
1105,73.30,94.56,107.31,106.22,111.20,81.74,86.39,82.49,114.90,35.15,78969.33,52018.94,12.660,0.05411,2.685,137.47,34.565,179.83
1106,71.38,92.08,103.68,106.22,109.15,81.54,86.41,82.55,115.12,35.95,79707.11,51308.87,12.635,0.05495,2.601,136.89,34.480,180.54